@keyframes arrow-bob {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateY(20%);
    }
  }

  .jersey-normal{
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }

  .pixelify-sans {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* .play-regular {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .play-bold {
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
  } */

.votePage {
    width:100%;
    height:100%;
    background-image: linear-gradient(rgb(187, 2, 135), rgb(61, 38, 130),rgb(61, 38, 130),rgb(61, 38, 130),rgb(2, 122, 162));
}

.content-container{
    padding-top: 5vh;
}

.notShow {
    text-align: center;
    padding-top:10%;
}

img.princessPlum {
    height: 25vh;
}

img.princessPlumActive {
    height: 45vh;
}


.btn-Buy {
    background-color: #9b80a5;
    border-color: #ccc7ce;
    height: 15vh;
}

h1 {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 5vh
}

p.hidden {
    color: rgb(240, 240, 240);
}

table {
    padding: 5vh;
    width: 100%;
}

.triangle-selectors {
    height: 16vh;
}

td {
    text-align: center;
}
  
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10vh solid transparent;
	border-right: 10vh solid transparent;
    margin-left: auto;
    margin-right: auto;
}

.triange-A-select {
    border-top: 15vh solid #A569BD; 
}

.triange-B-select {
    border-top: 15vh solid #2980B9;
}

.hide {
    display: none;
}

.btn-vote {
    margin: 2vh;
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    color: rgb(240, 240, 240);
}

/* .btn-A {
    background-color: #A569BD;
    border-color: #A267B2;
}

.btn-B {
    background-color: #1b6ec2;
    border-color: #1861ac;
} */

.arrow-bob{
    animation: .5s steps(2,end) 1s infinite alternate arrow-bob;
}

.arrow{
    width: 30vw;;
}

.twinkle{
    height: 15vh;
  }
  
  .twinkle-top{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .twinkle-bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .shape{
    height: 20vh;
    width: 20vh;
  }