.voteSettingPage {
    background-image: linear-gradient(to bottom, #D6EAF8, #5499C7, #2980B9, #A569BD);
}

.btn-closePole {
    background-color: #9b80a5;
    border-color: #ccc7ce;
}

div.button-container {
    text-align: center;
}