@keyframes arrow-bob{
    100%{
      transform:translateY(15px);
    }
  }

.votePage {
    background-image: linear-gradient(rgb(187, 2, 135), rgb(61, 38, 130),rgb(61, 38, 130),rgb(61, 38, 130),rgb(2, 122, 162));
}

.content-container{
    margin-top: 5vh;
}

.notShow {
    text-align: center;
    padding-top:10%;
}

img.princessPlum {
    height: 25vh;
    animation: arrow-bob 0.5s linear;

    :hover{
        transform: translateX(100px);
      }
}

img.princessPlumActive {
    height: 45vh;
}

.btn-Buy {
    background-color: #9b80a5;
    border-color: #ccc7ce;
    height: 15vh;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    text-align: center;
    padding: 5vh
}

p.hidden {
    color: white;
}

table {
    padding: 5vh;
    width: 100%;
}

.triangle-selectors {
    height: 16vh;
}

td {
    text-align: center;
}
  
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10vh solid transparent;
	border-right: 10vh solid transparent;
    margin-left: auto;
    margin-right: auto;
}

.triange-A-select {
    border-top: 15vh solid #A569BD; 
}

.triange-B-select {
    border-top: 15vh solid #2980B9;
}

.hide {
    display: none;
}

.btn-vote {
    margin: 2vh;
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    color: white;
}

.btn-A {
    background-color: #A569BD;
    border-color: #A267B2;
}

.btn-B {
    background-color: #1b6ec2;
    border-color: #1861ac;
}