/*animations*/
@keyframes arrow-bob{
  100%{
    transform:translateY(15px);
  }
}

/* Provide sufficient contrast against white background */
input {
  margin: 1vh;
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.page {
  height:100vh
}

.arrow{
  width: 100%;
  animation: arrow-bob 0.5s linear;
}

.twinkle{

}

.twinkle-top{
  position: absolute;
  top: 0;
  left: 0;
}

.twinkle-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
}